*, *::before, *::after {margin: 0; padding: 0; box-sizing: inherit;}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(200, 190, 190);
}

/* Header */
#topheader {
  background-color: grey;
  position: sticky;
  top: 0;
  padding: 10px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.482))
}
header {
  background-color: grey;
}

header > h1, 
header > p {
  color: brown;
}

header > h1 {
  font-size: calc(30px + 2vw);
  font-weight: 700;
}

/* Nav */
nav > button { 
  padding: 10px 30px;

}

nav > button:first-child {
  color: purple;
}

nav > button:nth-child(2) {
  color: blue;
} 

/* Listing */
 div > section {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Listing > ListCard */
.card {
  flex: 1 0 250px;
  padding: 10px;
  margin: 10px;
  /* border: 1px solid red; */
}
.card img {
  width: 50%
}

.card h3 {
  font-weight: 700;
}

details {
  margin-top: 15px;
}
